@use "~bootstrap/scss/bootstrap" as *;

.bg-light-blue {
    background-color: #0582f9;
}

.top-plus-50 {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.cursor_pointer {
    cursor: pointer;
}

.fs-md {
    font-size: 12px;
}
